<div>
  <form #filmSearch="ngForm" (ngSubmit)="onSearchFilm(filmSearch.value)">
    <label class="control-label" for="t">Title:</label>
    <input type="text" id="t" name="t" class="input-small" ngModel /> &nbsp;&nbsp;
    <label class="control-label" for="y">Year:</label>
    <input type="text" id="y" name="y" class="input-small" ngModel /> &nbsp;&nbsp;
    <label class="control-label">Plot:</label>
    <select name="plot" style="width: 100px" ngModel>
      <option value="" selected="">Short</option>
      <option value="full">Full</option>
    </select> &nbsp;&nbsp;
    <input id="search-by-title-button" type="submit" class="btn-sm btn-primary" value="Search" />
  </form>
</div>

<div class="response"></div>

